@charset "ISO-8859-1";

body {
  font-family: 'Open Sans', sans-serif;
  background-image: url("fondo1.jpg");
  background-size: 100%;
}

.fondo {
  font-family: 'Open Sans', sans-serif;
  background-image: url("https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA18461_hires.jpg");
  background-size: 100%;
}

.jumbo {
	background-color: rgba(166, 150, 208, 0.8);
}

